.customer-type {
    .login_form {
        border-right: 1px solid $gray-ultra-light;
    }
    h2 {
        font-weight: 400;
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 30px;
        min-height: 80px;
        line-height: 28px;
    }

    .btn {
        display: block;
        width: 100%;
    }
    .col-sm-6 {
        padding-right: 70px;
        padding-left: 70px;
    }
    .tab {
        font-size: 0;
        white-space: nowrap;
        max-width: 100%;
        display: none;
        .section-tab:first-child {
            border-top-left-radius: 8px;
        }
        .section-tab:last-child {
            border-top-right-radius: 8px;
        }

        .section-tab {
            vertical-align: middle;
            white-space: normal;
            max-width: 50%;
            position: relative;
            display: inline-block;
            padding: 12px 10px;
            min-width: 50%;
            border: 1px solid $gray-ultra-light;
            font-size: $font-size-medium;
            line-height: 29px;
            text-align: center;
            z-index: 1;
            background-color: $bg-gray;
            color: $brand-default;
            transition: background-color .3s;
            &.active {
                background-color: $white;
                border-bottom-color: $white;
            }
            &:hover,
            &:focus {
                background-color: $white;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: $dev-xs)  {
    .customer-type {
        .col-sm-6 {
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 40px;
        }
        .tab {
            display: flex;
            flex-wrap: nowrap;
        }
        .login_form,
        .continue_form {
            display: none;

            &.show {
                display: block;
            }
        }
        .row {
            margin: 0;
            border-left: 1px solid $gray-ultra-light;
            border-right: 1px solid $gray-ultra-light;
            border-bottom: 1px solid $gray-ultra-light;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .login_form {
            border-left: none;
        }
    }
}
