.shipping-list {
    .checkout-block-info {
        margin-bottom: 0;
    }
    h1  {
        text-transform: none;
    }
}

.shipping-form {
    h1  {
        text-transform: none;
    }
}

.shipping-payment {
   .shipping-form {
       .margin-b {
           margin-bottom: 12px;
       }
   }
}
