DJANGO_DEBUG=off
DJANGO_DEBUG_SQL=off
DJANGO_SECRET_KEY="CHANGEME!!!6#wuuce4!uez+vmfqzjo^(9-xzqurx_5p=$kmjqyl7nix&u4b$"

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
DJANGO_DATABASE_URL=postgres:///radonmeters
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com

DJANGO_CELERY_BROKER_URL=redis://localhost:6379/1
DJANGO_CELERY_BACKEND=redis://localhost:6379/1
DJANGO_CELERY_ALWAYS_EAGER=off

DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_TEST_RUN=off

DJANGO_HEALTH_CHECK_BODY="Success"

DJANGO_USE_SILK=on

STRIPE_SK=pk_key
STRIPE_PK=sk_key

FERNET_KEY=fernet_key

DELIVERY_BASE_URL=https://example.com
DELIVERY_AUTH_LOGIN=login
DELIVERY_AUTH_PASSWORD=password
DELIVERY_TEST_MODE=on

# default service keys for first init
# DEFAULT_SERVICES_GOOGLE_KEY
# DEFAULT_SERVICES_RETUR_LINK
# DEFAULT_SERVICES_TRUSTPILOT_TEMPLATE_ID
# DEFAULT_SERVICES_TRUSTPILOT_BUSINESSUNIT
# DEFAULT_SERVICES_TRUSTPILOT_LINK
