.header {
    .header-top-section {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;

        .header-logo-link {
            display: inline-block;
            width: 40vh;
            max-width: 245px;
            min-width: 170px;
            img {
                max-width: 100%;
            }
        }

        .auth-links {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translate(0, -50%);
            a:first-child {
                margin-right: 20px;
            }
        }

        .right-links {
            position: absolute;
            right: 15px;
            top: 50%;
            z-index: 1;
            transform: translate(0, -50%);
        }
        .language-link {
            margin-right: 20px;
            position: relative;
            .dropdown-menu {
                top: 150%;
                a {
                    padding: 10px 0px;
                }
                .active {
                    a { color: $brand-info; }
                }
            }
            .caret {
                margin-left: 5px;
            }
        }
        .language-link,
        .basket-mini {
            display: inline-block;
        }
    }
    .language-link,
    .auth-links,
    .basket-mini {
        a {
            text-decoration: none;
            color: $brand-default;
            &:hover {
                color: $brand-info;
            }
        }
        .icon { color:$brand-success }
    }
    .navbar-nav {
        text-transform: uppercase;
        .rm-icon-search {
            margin-right: 5px;
        }
        .rm-icon-search ~ a {
            vertical-align: middle;
        }
    }
    .navbar-default {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle:active:hover,
    .navbar-default .navbar-toggle:hover:focus,
    .navbar-default .navbar-toggle:active,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
        border-color: transparent;
    }
    .navbar-default .navbar-toggle {
        .icon-bar {
            transform: rotate(0);
            transition: all 0.3s ease-out;
        }
    }
    .navbar-default .navbar-toggle[aria-expanded="true"] {
        .icon-bar:first-child {
            position: relative;
            transform: rotate(45deg);
            top: 6px;
            transform-origin: center;
        }
        .icon-bar.center {
            opacity: 0;
        }
        .icon-bar:last-child {
            position: relative;
            transform: rotate(-45deg);
            top: -6px;
            transform-origin: center;
        }
    }
    .navbar-collapse {
        position: relative;
    }
    .navbar-search-wrapper {
        height: 55px;
        width: 100%;
        input {
            height: 52px;
            border: none;
            font-size: 17px;
            outline: none;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            font-size: 2.5em;
            font-weight: 100;
            letter-spacing: 1px;
            line-height: 47px;
            padding-right: 43px;
            background-color: transparent;

            &:focus ~ .presentaition-border,
            &:hover ~ .presentaition-border{
                border-bottom: 1px solid $brand-info;
                    &::before,
                    &::after {
                        border-left: 1px solid $brand-info;
                    }
            }
        }
        form {
            position: relative;
        }
        .btn-search {
            font-size: 2em;
            background-color: transparent;
            border-radius: 0;
            padding: 6px;
            transform: scale(-1, 1);
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.5;
            &:focus:hover,
            &:focus,
            &:hover {
                opacity: 1;
                color: $brand-default;
            }
        }
    }
    .presentaition-border {
        width: 100%;
        border-bottom: 1px solid $gray-ultra-light;
        position: relative;
        display: block;
        background-color: $white;
        transition: border-bottom .3s ease;
        &::before,
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 5px;
            border-left: 1px solid $gray-ultra-light;
            bottom: 100%;
            transition: border-left .3s ease;
        }
        &::after {
            right: 0;
        }
        &::before {
            left:0;
        }
    }
    .dropdown-menu li.active a {
        background-color: transparent;
    }
}

@media (max-width: 989px)  {
    .header {
        .header-top-section {
            .right-links {
                .language-link {
                    text-align: left;
                    display: block;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
@media (min-width: $dev-xs)  {
    .header {
        .header-top-section {
            text-align: center;
        }

         .navbar-nav {
            height: $navbar-height;
            float: none;
            text-align: justify;
            -ms-text-justify: distribute-all-lines;
            text-justify: distribute-all-lines;
            user-select: none;
            li {
                float: none;
                display: inline-block;
                a {
                    padding: 10px 0px;
                }
            }
            &:after {
                content: '';
                width: 100%;
                display: inline-block;
                font-size: 0;
                line-height: 0;
            }
        }
        .navbar-search-wrapper{
            opacity: 0;
            top: 100%;
            height: 0px;
            overflow: hidden;
            transition: opacity .5s ease-out, height .5s ease-out;
            &.vis {
                transition: opacity .5s ease-out, height .5s ease-out;
                height: 55px;
                opacity: 1;
            }
        }
        .navbar-nav>li:hover {
            & > a {
                color: $brand-info;
            }
            .dropdown-menu {
                display: block!important;
            }
        }
        .dropdown-menu {
            text-transform: none;
            left: 50%;
            transform: translate(-50%);
            padding: 20px 40px;
            background-color: $white;
            box-shadow: 0 2px 17px 0 rgba(193,207,228,0.27);
            text-align: center;
            border: none;
            &::before {
                content: '';
                position: absolute;
                background-color: transparent;
                display: block;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 8px;
                top: -8px;
                margin-left: -8px;
                content: " ";
                border-top-width: 0;
                border-bottom-color: $white;
                left: 50%;
            }
        }
        .navbar-nav>li>.dropdown-menu {
            border-radius: 8px;
        }
    }
}

@media (max-width: $dev-xs)  {
    .header {
        .navbar-collapse {
            width: 100%;
        }
        .navbar-right {
            line-height: 44px;
        }
        .header-top-section {
            text-align: center;
             .header-logo-link {
                 width: 170px;
             }
             .basket-mini {
                display: none;
             }
        }
        .navbar-search-wrapper {
            position: relative;
        }
        .dropdown-menu {
            text-transform: none;
        }
    }
}
