{% extends 'layout.html' %}
{% load i18n static %}

{% block title %}{% trans 'Password reset' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Password reset' %}</li>
    </ul>
</div>
{% endblock %}

{% block headertext %}{% trans "Password reset" %}{% endblock %}

{% block content_wrapper %}
    <div class="container register-page">
        <h1 class="text-center">{% trans 'Password reset' %}</h1>
        <div class="row">
            <form id="password_reset_form" action="." class="col-xs-12 col-sm-6 col-sm-offset-3 form form-vertical" novalidate="" method="post">
                {% csrf_token %}
                <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>


                {% for field in form %}
                    {% include 'partials/form_field.html' with field=field style=style %}
                {% endfor %}
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-primary btn-lg" data-loading-text="{% trans 'Sending...' %}">{% trans 'Send reset email' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        var _radonOptions = {
            'requiredError': "<ul class=\"errorlist\"><li>{% trans 'This field is required.' %}</li></ul>",
            'invalidEmailError': "<ul class=\"errorlist\"><li>{% trans 'Enter a valid email address.' %}</li></ul>",
        };
    </script>
    <script src="{% static 'js/pages/registration.js' %}"></script>
{% endblock %}
