{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset email sent' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
        </li>
        <li class="active">{% trans 'Email sent' %}</li>
    </ul>
</div>
{% endblock %}

{% block headertext %}{% trans "Email sent" %}{% endblock %}

{% block content_wrapper %}
<div class="container register-page">
    <h1 class="text-center">{% trans 'Email sent' %}</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <p class="text-center">
            {% blocktrans %}
                We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
            {% endblocktrans %}
            </p>
            <p class="text-center">
            {% blocktrans %}
                If you don't receive an email, please make sure you've entered the address you registered with, and check
                your spam folder.
            {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
