{% extends 'layout.html' %}
{% load i18n static %}

{% block title %}{% trans 'Enter a new password' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
        </li>
        <li class="active">{% trans 'Enter a new password' %}</li>
    </ul>
</div>
{% endblock %}

{% block alert_messages %}
<div id="messages">
    {% if form.is_bound and not form.is_valid %}
        <div class="alert alert-danger fade">
            <a class="rm-icon-cross close" data-dismiss="alert" href="#"></a>
            <div class="alertinner">
                <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages and try again" %}
            </div>
        </div>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger fade">
                <a class="rm-icon-cross close" data-dismiss="alert" href="#"></a>
                <div class="alertinner">
                    <i class="icon-exclamation-sign"></i> {{ error }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}


{% block content_wrapper %}
<div class="container register-page">
    {% if validlink %}
        <h1 class="text-center">{% trans "Enter a new password" %}</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form id="password_reset_form" action="" method="post" novalidate="">
                    {% csrf_token %}
                    {% for field in form %}
                        {% include 'partials/form_field.html' with field=field style=style %}
                    {% endfor %}
                    <div class="form-group form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" data-loading-text="{% trans 'Changing...' %}">{% trans 'Change my password' %}</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h1>{% trans 'Password reset unsuccessful' %}</h1>
                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}


{% block extrascripts %}
    <script>
        var _radonOptions = {
            'requiredError': "<ul class=\"errorlist\"><li>{% trans 'This field is required.' %}</li></ul>",
            'invalidEmailError': "<ul class=\"errorlist\"><li>{% trans 'Enter a valid email address.' %}</li></ul>",
        };
    </script>
    <script src="{% static 'js/pages/registration.js' %}"></script>
{% endblock %}
