{% load i18n %}
<div>
    {% csrf_token %}  
    <div class="modal-body">
        <form id="add_note_form" action="" method="post" class="form-stacked">
            {% csrf_token %}
            <input type="hidden" value="save_note" name="order_action" />
            <input type="hidden" id="uuid" name="uuid"/>
            <input type="hidden" id="note_type" name="note_type" value="Lab"/>
            <textarea name="message" id="id_message" rows="10" cols="40" style="visibility: hidden; display:none;"></textarea>
            <br>
            <div class="form-actions">
                <input type="submit" value="{% trans "Save note" %}" class="btn btn-primary" />
                {% trans "Notes are only editable for 5 minutes after being saved." %}
            </div>
        </form>
    </div>  
</div>