{% extends 'dashboard/layout.html' %}
{% load i18n static %}

{% block extrastyles %}
    {{ block.super }}
    <style>
        .intl-tel-input {width: 100%;}
    </style>
{% endblock %}

{% block body_class %}{{ block.super }} users{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:users-index' %}">{% trans "Customers" %}</a>
        </li>
        {% if request.resolver_match.kwargs.pk %}
            <li class="active">{% trans "Change address" %} </li>
        {% else %}
            <li class="active">{% trans "Create address" %}  </li>
        {% endif %}


        
    </ul>
{% endblock %}

{% block headertext %}
    {% if request.resolver_match.kwargs.pk %}
        {% trans "Change address" %} 
    {% else %}
        {% trans "Create address" %} 
    {% endif %}
    for {{ user_address.get_full_name }}
{% endblock %}

{% block dashboard_content %}
    {% comment %}
    {% with style='horizontal' %}
        {% include "partials/form.html" %}
    {% endwith %}
    {% endcomment %}
<div class="container shipping-form">
    <form action="." method="post" id="new_shipping_address" class="large-select2 form form-vertical shipping-form form-with-button" novalidate>
        {% csrf_token %}
        <div>
            <div class="row">
                {% if form.is_bound and not form.is_valid %}
                    <div class="alert alert-danger">
                        <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
                    </div>
                {% endif %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <i class="icon-exclamation-sign"></i> {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
             <!-- first_name last_name line1 line2 line3 line4 state postcode country phone_number notes -->
                    <div class="col-xs-12 col-sm-5">
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {% include 'partials/form_field.html' with field=field style=style %}
                            {% endif %}

                            {% if forloop.counter < 6 %}
                                {% include 'partials/form_field.html' with field=field style=style %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                        {% for field in form %}
                            {% if forloop.counter > 5 and forloop.counter < 11 %}
                                {% include 'partials/form_field.html' with field=field style=style %}
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        {% for field in form %}
                            {% if forloop.counter > 10 %}
                                {% include 'partials/form_field.html' with field=field style=style %}
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>


            <div class="form-group row">
                <div class="text-center clearfix col-xs-8 col-sm-4">
                    <button type="submit" class="btn btn-primary submit-form pull-left" data-loading-text="{% trans 'Continuing...' %}">{% trans "Save" %}</button>

                </div>
            </div>
        </div>
    </form>
</div>
{% endblock dashboard_content %}