{% extends 'dashboard/layout.html' %}

{% load sorting_tags %}
{% load i18n %}

{% block title %}
    {% trans "Owners" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Owners" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header clearfix">
        <a href="{% url 'dashboard:owner-create' %}" class="btn btn-lg btn-primary pull-right">
            <i class="icon-plus"></i>
            {% trans "Create new owner" %}
        </a>
        <h1>{% trans "Owners" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="well">
        <form action="." method="get" class="form-inline">
            {% include 'dashboard/partials/form_fields_inline.html' with form=form %}
            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
            {% if is_filtered %}
                <a class="btn btn-default" href="{% url 'dashboard:owner-list' %}" >{% trans "Reset" %}</a>
            {% endif %}
        </form>
    </div>

    <form action="." method="post" class="order_table">
        {% csrf_token %}
        <table class="table table-striped table-bordered">
            <caption>
                <i class="icon-bar-chart icon-large"></i>{{ queryset_description }}
            </caption>
            {% if owners %}
                <thead>
                    <tr>
                        <th>{% trans 'ID' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Email' %}</th>
                        <th>{% trans 'Is default' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for owner in owners %}
                    <tr>
                        <td><a href="{% url 'dashboard:owner-detail' pk=owner.pk %}?next_url={{ request.get_full_path|urlencode }}">{{ owner.pk }}</a></td>
                        <td>{{ owner.get_full_name|default:"" }}</td>
                        <td>{{ owner.email|default:"" }}</td>
                        <td>{{ owner.is_default|default:"" }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>{% trans "No owners found." %}</td></tr>
            {% endif %}
        </table>
        {% include "dashboard/partials/pagination.html" %}
    </form>
{% endblock dashboard_content %}
